*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    
}
body{
    background: linear-gradient(to right, rgb(52, 133, 199), pink);
   
}

.contanier{
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid ;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
    background-color: rgba(240, 248, 255, 0.661);
    padding: .5em;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(3, 16, 25, 0.361);
    border: none;
    
    
}

.seach{
    border-radius: 10px;
    border: 1px solid rgb(0, 255, 102);
    padding: .6em;
    
    
}

.btn{
    
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(97, 204, 97);
    padding: 5px;
}

.btn:hover{
    background-color: rgb(125, 243, 172);
    color: aliceblue;
}

.icon{
  margin-left: 4em;
  margin-bottom: 1.5em;
}

.lupa{
    width: 18px;
}

.c{
    color: blueviolet;
    position: relative;
    margin-left: 4em;
}